.codeForm {
  margin: 1em auto !important;
  width: 80vw;
  max-width: 700px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #484644;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: fit-content;
}

h1 {
  font-size: calc(2rem + 3vw);
  letter-spacing: -0.05em;
  line-height: 1;
  margin: 0 0 0.25em 0;
  opacity: 0.5;
}

/* .App {
  padding: 2em;
  margin: 2em;
} */

/* http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/ */
pre,
code,
textarea,
kbd,
samp,
tt {
  font-family: monospace, monospace;
  font-size: 1em;
}

.tidbit {
  position: relative;
  width: 550px;
  height: 550px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  max-height: 550px;
  /* background-color: #92c5d0; */
}

.syntaxOptions, .appHeader, .tidbitOptions {
  display: flex;
  border: 2px solid rgb(205, 205, 205);
  width: fit-content;
  margin: 1em;
}

.languageIcon, logo {
  z-index: 99;
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  height: 3.5em;
  width: 3.5em;
}

.languageIcon svg {
  height: 3.5em;
  width: 3.5em;
}

.snippetHeader {
  width: 550px;
  position: relative;
  display: flex;
  background-color: #20231c;
  height: 5em;
  /* position: fixed; */
  top: 0em;
}

.snippetHeader h5 {
  font-size: large;
  color: rgb(192, 192, 192);
}

.snippetHeader h2 {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  color: white;
}

.syntaxHighlighter {
  position: relative;
  margin: auto !important;
  transform: translateY(-1em);
  width: fit-content;
  padding: 0em 2em 2em 2em !important;
  max-height: 520px;
}

.codeHighlight {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1em;
  max-width: 490px;
  min-width: 300px;
  z-index: 10 !important;
}

pre {
  max-height: 440px;
}

.logo {
  height: 5em;
  width: 5em;
  filter: drop-shadow();
}

.socialsFooter {
  position: absolute;
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  bottom: 0;
  height: 4em;
}

.socialsFooter .website {
  margin: auto 2em auto auto;
}

.socialsFooter h3 {
  font-size: 1.2em;
  padding: 0.5em;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.7);
 text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.2);
}

.socialsFooter svg {
  height: 2.5em;
  width: 2.5em;
  filter: invert(100%) contrast(100%) brightness(0%) opacity(50%)
}


.boxLogo {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border: 4px groove white;
  background-color: rgb(43, 43, 43);
  position: absolute;
  top: -2.5em;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}